{% extends "formTemplate.html" %}

{% block title %}
Crea corso
{% endblock %}

{% block formAction %} {{url_for('create_course')}} {% endblock %}
{% block formImageSource %} {{url_for('static', filename = 'assets/course.svg')}} {% endblock %}
{% block altDescription %} Icona corso {% endblock %}
{% block formTitle %} Crea corso {% endblock %}
{% block formSubtitle %} Inserisci tutti i dati richiesti per creare il corso {% endblock %}
{% block inputFields %}
    {{ form.courseName }}
    {{ form.courseYear }}
{% endblock %}