{% extends "formTemplate.html" %}

{% block title %}
Crea lezione
{% endblock %}

{% if session.role == 'Admin' %}
    {% block bodyProperties %} onload = "getTeacherCourses()" {% endblock %}
{% endif %}
{% block formAction %} {{url_for('createLesson')}} {% endblock %}
{% block formImageSource %} {{url_for('static', filename = 'assets/teacher.svg')}} {% endblock %}
{% block altDescription %} Icona lezione {% endblock %}
{% block formTitle %} Crea lezione {% endblock %}
{% block formSubtitle %} Inserisci tutti i dati richiesti per creare la lezione {% endblock %}
{% block inputFields %}
    {{ form.subject }}
    {{ form.description }}
    {{ form.lessonDate }}
    {{ form.lessonStartTime }}
    {{ form.lessonEndTime }}
    {{ form.room }}
    {{ form.lessonType }}
    {% if session.role == 'Admin' %}
        {{ form.assignedTeacher }}
    {% endif %}
    {{ form.course }}
{% endblock %}
{% block submit %} Crea lezione {% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src = "../static/script/formsManagement.js"></script>
{% endblock %}