{% extends "formTemplate.html" %}

{% block title %}
Crea utente
{% endblock %}

{% block bodyProperties %}onload = "adminRoleChosen()"{% endblock %}
{% block formAction %} {{url_for('createUser')}} {% endblock %}
{% block formImageSource %} {{url_for('static', filename = 'assets/user.svg')}} {% endblock %}
{% block altDescription %} Icona utente {% endblock %}
{% block formTitle %} Crea utente {% endblock %}
{% block formSubtitle %} Inserisci tutti i dati richiesti per creare l'utente {% endblock %}
{% block inputFields %}
    {{ form.fname }}
    {{ form.lname }}
    {{ form.email }}
    {{ form.password }}
    {{ form.password_verify }}
    {{ form.role }}
    <label class = "mb-5" id = "adminVerification" style = "display: none">
        {{ form.adminVerification }}
        {{ form.adminVerification.label }}
    </label>
    <p>Seleziona almeno un corso tra i seguenti</p>
    {% for course in courses %}
        <label class = "formInputBox">
            <input type = "checkbox" name = "course" value = "{{course}}">
            {{course}}
        </label>
    {% endfor %}
{% endblock %}

{% block script %}
    <script src = "{{url_for('static', filename = 'script/formsManagement.js')}}"></script>
{% endblock %}