<!DOCTYPE html>

<html lang = "it">
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <!-- TODO: Add Favicon -->

        <link rel = "stylesheet" href = "{{url_for('static', filename = './style/style.css')}}">
        <title>Attendance Tracker - {% block title %}Benvenuto{% endblock %}</title>
    </head>
    <body>
        {% block messagesPrintout %}
            {% with message = get_flashed_messages(with_categories = True) %}
                {% if message %}
                    <div class = "messages">
                        <b>{% if message[-1][0] == 'success' %}Successo{% else %}Errore{% endif %}</b>
                        <p>{{message[-1][1]}}</p>
                    </div>
                {% endif %}
            {% endwith %}
        {% endblock %}
        {% block nav %}
            <nav>
                <img src = "{{url_for('static', filename = 'assets/favicon.png')}}">
                <h1>Attendance Tracker</h1>
            </nav>
        {% endblock %}
        {% block content %}

        {% endblock %}
        {% block footer %}
            <footer>
                <div class = "w-1/2 flex justify-center items-center flex-wrap gap-x-1">
                    <a href = "/info">Informazioni</a>
                    <span> | </span>
                    <a href = "/support">Supporto</a>
                    <span> | </span>
                    <a href = "/terms-and-conditions">Termini e condizioni</a>
                    <span> | </span>
                    <a href = "/privacy">Privacy</a>
                    <span> | </span>
                    <a href = "https://github.com/mfacecchia/attendance-tracker" target = "*_blank">Docs</a>
                    <span> | </span>
                    <a href = "https://feiswebsitefm.000webhostapp.com" target = "*_blank">About</a>
                </div>
                <p class = "text-xs text-center">Copyright @ 2024 Feis Inc. Tutti i diritti riservati</p>
            </footer>
        {% endblock %}
    </body>
</html>