{% extends "formTemplate.html" %}

{% block title %}
Modifica lezione
{% endblock %}

{% block formAction %} {{url_for('manageLesson')}} {% endblock %}
{% block formImageSource %} {{url_for('static', filename = 'assets/teacher.svg')}} {% endblock %}
{% block formTitle %} Modifica dati lezione {% endblock %}
{% block formSubtitle %} Inserisci i dati che desideri modificare nei campi sottostanti {% endblock %}
{% block inputFields %}
    {{ form.subject }}
    {{ form.description }}
    {{ form.lessonDate }}
    {{ form.room }}
    {{ form.lessonType }}
    {% if session.role == 'Admin' %}
        {{ form.assignedTeacher }}
    {% endif %}
    {{ form.course }}

    <!-- Action to execute (does not represent in any way the button) -->
    <input type = "hidden" name = 'submitButton' value = 'Edit'>
    {{ form.lessonID }}
{% endblock %}

{% block backButtonURL %}{{ url_for('lessonsList') }}{% endblock %}

{% if session.role == 'Admin' %}
    {% block script %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src = "../static/script/formsManagement.js"></script>
    {% endblock %}
{% endif %}