{% extends "template.html" %}

{% block title %}
Lezioni programmate
{% endblock %}

{% block content %}
    {% if not scheduledLessons %}
        <p>Nessuna lezione programmata</p>    
    {% else %}
        <div class = "tableContainer">
            <table>
                <tr>
                    <th>Lezione</th>
                    <th>Descrizione</th>
                    {% if session['role'] in ['Admin', 'Insegnante'] %}
                        <th>Gestione</th>
                    {% endif %}
                </tr>
                {% for lesson in scheduledLessons %}
                    <tr>
                        <td>
                            <b>{{lesson['nomeCorso']}}</b>
                            <p>{{lesson['dataLezione']}}</p>
                            <p>{{lesson['Materia']}}</p>
                            <p>Aula {{lesson['aula']}}</p>
                        </td>
                        <td><p>{{lesson['Descrizione']}}</p></td>
                        {% if session['role'] in ['Admin', 'Insegnante'] %}
                            <form action = "{{url_for('manageLesson')}}" method = "post">
                                <input type = "text" name = "lessonID" readonly hidden value = "{{lesson['idLezione']}}">
                                <td>
                                    {% if lesson['dataLezione'] == today %}
                                        <button class = "button dark-blue" type = "submit" name = "submitButton" value = "Manage">Apri lezione</button>
                                        {% endif %}
                                    <button class = "button orange" type = "submit" name = "submitButton" value = "Remove">Elimina</button>
                                </td>
                            </form>
                        {% endif %}
                    </td>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}