{% extends "index.html" %}

{% block title %}
Login
{% endblock %}

{% block nav %}
    {{super()}}
    {% block loginLink %}
    {% endblock %}
{% endblock %}

{% block content %}
    <form action = '{{ url_for("login") }}' method = "post" class = "formContainer">
        <div class = "text-center mb-5">
            <h1 class = "mb-0 font-semibold">Benvenuto</h1>
            <p class = "mt-0">Inserisci i tuoi dati per iniziare</p>
        </div>
        <input class = "formInputBox" type = "email" name = "email" placeholder = "Email" value = "{{emailField if emailField}}" autofocus required>
        <input class = "formInputBox" type = "password" name = "password" placeholder = "Password" required>

        <p class = "mt-3">Oppure</p>
        <div class = "flex justify-center mb-3">
            <a href = "{{url_for('githubAuth', login = True)}}"><img src = "{{url_for('static', filename = 'assets/github.svg')}}"></a>
        </div>

        <div class = "flex flex-col items-center gap-y-3 mb-3">
            <div class = "flex gap-x-1 justify-center items-center">
                <input type = "checkbox" name = "remember">
                <label>Ricordami</label>
            </div>
            <a class = "text-blue-600" href = "{{url_for('forgotPassword')}}">Password dimenticata?</a>
        </div>
        <button class = "button dark-blue" type = "submit">Login</button>
    </form>

    <a href = "{{url_for('forgotPassword')}}">Password dimenticata?</a>
{% endblock %}