{% extends "index.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
    <!-- NOTE: getting all messages flashed from the function (if flashed e.g. error success, information messages) and printing them -->
    {% with messages = get_flashed_messages(with_categories = True) %}
        {% if messages %}
            {% for messageType, message in messages %}
                {% if messageType == 'success' %}
                    <b style = "color: green">{{ message }}</b>
                {% else %}
                    <b style = "color: red">{{ message }}</b>
                {% endif %}
                <br>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action = '{{ url_for("check_login") }}' method = "post">
        <input type = "email" name = "email" placeholder = "Email" autofocus required>
        <input type = "password" name = "password" placeholder = "Password" required>
        <div>
            <input type = "checkbox" name = "remember">
            <label>Ricordami</label>
        </div>

        <button type = "submit">Login</button>
    </form>

    <!-- TODO: Add login with github button -->
    <!-- NOTE: Add function to check in database for github user id -->
{% endblock %}