{% extends "index.html" %}

{% block content %}
<h1>Lezione di {{lessonInfo[0]['Materia']}} del {{lessonInfo[0]['dataLezione']}}</h1>
<h1>Lista studenti</h1>
<form action = "{{url_for('registerAttendances')}}" method = "post">
    <table>
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Presente</th>
        </tr>
        {% for student in lessonInfo %}
            <tr>
                <td>{{student['Nome']}}</td>
                <td>{{student['Cognome']}}</td>
                {% if student['Presenza'] %}
                    <td><input type = "checkbox" name = "attendanceCheck" value = "{{student['userID']}}" checked></td>
                {% else %}
                    <td><input type = "checkbox" name = "attendanceCheck" value = "{{student['userID']}}"></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <button type = "submit" name = "registerAttendance" value = "{{lessonInfo[0]['idLezione']}}">Registra lezioni</button>
</form>

<!-- TODO: Add button to go back to homepage -->
{% endblock %}