<!DOCTYPE html>
<html lang = "it">
    <head>
        <!-- NOTE: Meta values for "iCloud Mail" mail theme -->
        <meta name="color-scheme" content="light only">
        <meta name="supported-color-schemes" content="light only">
    </head>
    <body style = "text-align: center; color: #002755">
        <img src = "http://127.0.0.1:5000/static/assets/forgot-password.svg" style = "height: 100px;" alt = "Icona password dimenticata">
        <h1>Hai dimenticato la tua password?</h1>
        <p style = "margin-bottom: 0">Se hai ricevuto questa Email è perché hai richiesto di resettare la password del tuo account.</p>
        <p style = "margin-bottom: 0; margin-top: 15px">Non sei stato tu? <a href = "http://127.0.0.1:5000/login">Accedi subito al tuo account</a> e modifica la password.</p>
        <p style = " margin-top: 5px">Sei stato tu? Nessun problema! Segui <a href = "http://127.0.0.1:5000/user/updatepassword?mail={{userMail}}&uid={{userID}}">questo link</a> e verrai diretto al form per la modifica della tua password</p>
    
        <footer style = "width: 100%; box-sizing: border-box; padding-top: 0.75rem; padding-bottom: 0.75rem; background-color: rgb(241 245 249); color: rgb(148 163 184)">
            <div style = "width: 50%; text-align: center; margin-left: auto; margin-right: auto">
                <a style = "font-size: 0.90rem; color: inherit; text-decoration: none" href = "mailto:feis_info@icloud.com?subject=Richiesta supporto Attendance Tracker">Supporto</a>
                <span> | </span>
                <a style = "font-size: 0.90rem; color: inherit; text-decoration: none" href = "http:/127.0.0.1:5000/cookie-policy">Cookie Policy</a>
                <span> | </span>
                <a style = "font-size: 0.90rem; color: inherit; text-decoration: none" href = "http:/127.0.0.1:5000/terms-and-conditions">Termini e condizioni</a>
                <span> | </span>
                <a style = "font-size: 0.90rem; color: inherit; text-decoration: none" href = "http:/127.0.0.1:5000/privacy">Privacy</a>
                <span> | </span>
                <a style = "font-size: 0.90rem; color: inherit; text-decoration: none" href = "https://github.com/mfacecchia/attendance-tracker" target = "*_blank">Docs</a>
                <span> | </span>
                <a style = "font-size: 0.90rem; color: inherit; text-decoration: none" href = "https://github.com/mfacecchia" target = "*_blank">About</a>
            </div>
            <p style = "font-size: 0.75rem; line-height: 1rem; text-align: center">Copyright @ 2024 Feis Inc. Tutti i diritti riservati</p>
        </footer>
    </body>
</html>