{% extends "index.html" %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class = "flex flex-col justify-center items-center gap-y-3 box-border px-11 py-20 m-auto">
        <h1>Register</h1>
        <form class = "w-full space-y-3" action = "{{url_for('handle_form_data')}}", method = "POST">
            <div class = "formInputBox">
                <p class = "text-sm">Name</p>
                <input class = "bg-inherit w-full" type = "text" name = "fname" id = "fname">
            </div>
            <div class = "formInputBox">
                <p class = "text-sm">Surname</p>
                <input class = "bg-inherit w-full" type = "text" name = "lname">
            </div>
            <div class = "formInputBox">
                <p class = "text-sm">Email</p>
                <input class = "bg-inherit w-full" type = "email" name = "email">
            </div>
            <div class = "formInputBox">
                <p class = "text-sm">Password</p>
                <input class = "bg-inherit w-full" type = "password" name = "password">
            </div>
            <div class = "formInputBox">
                <p class = "text-sm">I am a</p>
                <select class = "appearance-none bg-inherit w-full" id = "role">
                    <option value = "">Select an option</option>
                    <option value = "">Teacher</option>
                    <option value = "">Student</option>
                </select>
            </div>
            <button class = "bg-gray-300 rounded-md px-5 py-2" type = "submit">Submit</button>
        </form>
    </div>
{% endblock %}