{% extends "formTemplate.html" %}

{% block title %}
Recupera password
{% endblock %}

{% block formAction %} {{url_for('forgotPassword')}} {% endblock %}
{% block formImageSource %} {{url_for('static', filename = 'assets/forgot-password.svg')}} {% endblock %}
{% block altDescription %} Icona password dimenticata {% endblock %}
{% block formTitle %} Reset Password {% endblock %}
{% block formSubtitle %} Hai dimenticato la tua password?<br>Inserisci l'indirizzo Email associato al tuo account {% endblock %}
{% block inputFields %}
    {{ form.email }}
{% endblock %}
{% block backButtonURL %}{{url_for('login')}}{% endblock %}