{% extends "formTemplate.html" %}

{% block title %}
Recupera password
{% endblock %}

{% block formAction %} {{url_for('forgotPassword')}} {% endblock %}
{% block formImageSource %} {{url_for('static', filename = 'assets/forgot-password.svg')}} {% endblock %}
{% block formTitle %} Reset Password {% endblock %}
{% block formSubtitle %} Hai dimenticato la tua password?<br>Inserisci l'indirizzo Email associato al tuo account {% endblock %}
{% block inputFields %}
    <input class = "formInputBox" type = "email" name = "email" placeholder = "Email" required autofocus>
{% endblock %}
{% block submit %} Recupera la password {% endblock %}
{% block backButtonURL %}{{url_for('login')}}{% endblock %}