{% extends "index.html" %}

{% block title %}
Recupera password
{% endblock %}

{% block content %}
    <form action = "{{url_for('forgotPassword')}}" method = "post" class = "formContainer">
        <div class = "flex flex-col justify-center text-center">
            <img class = "h-24 mb-4" src = "{{url_for('static', filename = 'assets/forgot-password-icon.svg')}}">
            <h1 class = "font-semibold">Reset Password</h1>
            <p class = "mb-3">Hai dimenticato la tua password?</p>
            <p>Inserisci l'indirizzo Email associato al tuo account</p>
        </div>
        <input class = "formInputBox" type = "email" name = "email" placeholder = "Email" required autofocus>
        
        <button class = "button bg-attendance-blue-700 text-white" type = "submit">Recupera la password</button>
        <button class = "button bg-slate-200" type = "reset">Cancella</button>
    </form>
{% endblock %}