<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">

        <link rel = "icon" href = "{{url_for('static', filename = 'assets/favicon.svg')}}">
        <link rel = "stylesheet" href = "{{url_for('static', filename = './style/style.css')}}">

        <title>Attendance Tracker - {% block title%} {% endblock %}</title>
    </head>
    <body {% block bodyProperties %} {% endblock %}>
        {% block messagesPrintout %}
            {% with message = get_flashed_messages(with_categories = True) %}
                {% if message %}
                    <div class = "messages">
                        <b>{{message[-1][0]}}</b>
                        <p>{{message[-1][1]}}</p>
                    </div>
                {% endif %}
            {% endwith %}
        {% endblock %}
        {% block nav %}
            <nav>
                <div class = "flex items-center gap-x-2">
                    <a href = "{{url_for('index')}}">
                        <img src = "{{url_for('static', filename = 'assets/favicon-wide.svg')}}">
                    </a>
                </div>
                {% block loginLink %}
                    {% if session['name'] %}
                        <a class = "button" href = "{{url_for('logout')}}">Logout</a>
                    {% else %}
                        <a class = "button" href = "{{url_for('login')}}">Login</a>
                    {% endif %}
                {% endblock %}
            </nav>
        {% endblock %}
        {% block content %}

        {% endblock %}
        {% block footer %}
            <footer>
                <div class = "w-1/2 flex justify-center items-center flex-wrap gap-x-1">
                    <a href = "mailto:feis_info@icloud.com?subject=Richiesta supporto Attendance Tracker">Supporto</a>
                    <span> | </span>
                    <a href = "/cookie-policy">Cookie Policy</a>
                    <span> | </span>
                    <a href = "/terms-and-conditions">Termini e condizioni</a>
                    <span> | </span>
                    <a href = "/privacy">Privacy</a>
                    <span> | </span>
                    <a href = "https://github.com/mfacecchia/attendance-tracker" target = "*_blank">Docs</a>
                    <span> | </span>
                    <a href = "https://feiswebsitefm.000webhostapp.com" target = "*_blank">About</a>
                </div>
                <p class = "text-xs text-center
                            xl:text-sm">
                    Copyright © 2024 Feis Inc. Tutti i diritti riservati
                </p>
            </footer>
        {% endblock %}
    </body>
</html>