{% extends "index.html" %}

{% block title %}
Modifica Password
{% endblock %}

{% block content %}
    <h1>Input a new Password</h1>
    <form action = "{{url_for('verify_updated_password')}}" method = "post">
        <input type = "password" name = "newPassword" pattern = ".{10,255}" placeholder = "Nuova password" autofocus required>
        <input type = "password" name = "passwordVerify" placeholder = "Verifica password" required>

        <button type = "submit">Modifica</button>
    </form>
{% endblock %}