{% extends "index.html" %}

{% block title %}
Modifica Password
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <b style = "color: red">{{message}}</b>
        {% endfor %}
    {% endwith %}
    <h1>Input a new Password</h1>
    <form action = "{{url_for(verify_updated_password)}}" method = "post">
        <input type = "password" name = "newPassword" pattern = ".{10,}" placeholder = "Nuova password" required>
        <input type = "password" name = "passwordVerify" placeholder = "Verifica password" required>

        <button type = "submit">Modifica</button>
    </form>
{% endblock %}