{% extends "index.html" %}

{% block title %}
Modifica Password
{% endblock %}

{% block content %}
    <form action = "{{url_for('verify_updated_password')}}" method = "post" class = "formContainer">
        <div class = "flex flex-col justify-center text-center">
            <img class = "h-24 mb-4" src = "{{url_for('static', filename = 'assets/recover-password-icon.svg')}}" alt = "Recupera/Aggiorna password">
            <h1 class = "font-semibold">Aggiorna password</h1>
            <p class = "mb-3">Inserisci una nuova password per il tuo account</p>
            <p>La tua nuova password deve contenere almeno 10 caratteri</p>
        </div>
        <input class = "formInputBox" type = "password" name = "newPassword" minlength = "10" placeholder = "Nuova password" autofocus required>
        <input class = "formInputBox" type = "password" name = "passwordVerify" placeholder = "Reinserisci password" required>

        <button class = "button bg-attendance-blue-700 text-white" type = "submit">Conferma</button>
        <button class = "button bg-slate-200" type = "reset">Cancella</button>
    </form>
{% endblock %}