{% extends "index.html" %}

{% block title %}
Gestione account
{% endblock %}

{% block content %}
    <!-- TODO: Change text based on real time (ex. Good evening, Good morning, etc...) -->
    <h1>Ciao, {{ session['name'] }}!</h1>
    <p>{{ session['role'] }}</p>
    <p>Ultima volta online: {{session['lastLogin']}}</p>

    {% if session['role'] == 'Admin' %}
        <h1>Crea utente</h1>
        <form action = '{{ url_for("handle_request") }}' method = "post">
            <input type = "text" name = "fname" placeholder = "Name" autofocus required maxlength = "20">
            <input type = "text" name = "lname" placeholder = "Surname" required maxlength = "20">
            <input type = "email" name = "email" placeholder = "Email" required maxlength = "40">
            <!-- TODO: JS function to check password strength -->
            <input type = "password" name = "password" placeholder = "Password" pattern = '.{10,255}' required>
            <select name = "role">
                <option value = "">-- Seleziona un ruolo --</option>
                {% for role in roleOptions %}
                    <option value = {{role}}>{{role}}</option>
                {% endfor %}
            </select>
            <select name = "course">
                <option value = "">--Seleziona un corso--</option>
                {% for course in courses %}
                    <option value = "{{course}}">{{course}}</option>
                {% endfor %}
            </select>
    
            <button type = "submit">Crea account</button>
        </form>

        <a href = "{{url_for('usersList')}}">Lista utenti</a>
    {% endif %}

    {% if session['role'] == 'Insegnante' %}
        <h1>Crea una lezione</h1>
        <form action = "{{url_for('createLesson')}}" method = "post">
            <input type = "text" name = "Subject" placeholder = "Materia" required autofocus maxlength = "30">
            <input type = "date" name = "lessonDate" placeholder = "Data lezione" required>
            <input type = "text" name = "room" placeholder = "Aula" required pattern = "[a-zA-Z][0-9]+" maxlength = "4">
            
            <button type = "submit">Crea lezione</button>
        </form>
    {% endif %}

    <form action = "{{url_for('update_user_data')}}" method = "post">
        
    </form>

    <a href = "{{url_for('githubAuth', login = False)}}">Collega Account Github</a><br>
    <!-- TODO: Add remove github connection button -->
    <!-- TODO: Add account linking with github & google button -->

    <a href = "{{ url_for('logout') }}">Logout</a>
{% endblock %}