{% extends "index.html" %}

{% block title %}
Gestione account
{% endblock %}

{% block content %}

    <h1>{{ helloMessage }}, {{ session['name'] }}!</h1>
    <p>{{ session['role'] }}</p>
    <p>Ultima volta online: {{session['lastLogin']}}</p>

    {% if session['role'] == 'Admin' %}
        <h1>Crea utente</h1>
        <form action = '{{ url_for("handle_request") }}' method = "post">
            <input type = "text" name = "fname" placeholder = "Name" autofocus required maxlength = "20">
            <input type = "text" name = "lname" placeholder = "Surname" required maxlength = "20">
            <input type = "email" name = "email" placeholder = "Email" required maxlength = "40">
            <!-- TODO: JS function to check password strength -->
            <input type = "password" name = "password" placeholder = "Password" minlength = "10" maxlength = "255" required>
            <select name = "role">
                <option value = "">-- Seleziona un ruolo --</option>
                {% for role in roleOptions %}
                    <option value = {{role}}>{{role}}</option>
                {% endfor %}
            </select><br>
            {% for course in courses %}
                <input type = "checkbox" name = "course" value = "{{course['nomeCorso']}} - {{course['annoCorso']}}">
                <label for = "course">{{course['nomeCorso']}} - {{course['annoCorso']}}</label><br>
            {% endfor %}

            <button type = "submit">Crea account</button>
        </form>

        <a href = "{{url_for('usersList')}}">Lista utenti</a>
    {% endif %}

    {% if session['role'] in ['Insegnante', 'Admin'] %}
        <h1>Crea una lezione</h1>
        <form action = "{{url_for('createLesson')}}" method = "post">
            <input type = "text" name = "subject" placeholder = "Materia" required autofocus maxlength = "30">
            <input type = "text" name = "description" placeholder = "Descrizione (Opzionale)" maxlength = "100">
            <input type = "date" name = "lessonDate" required>
            <input type = "text" name = "room" placeholder = "Aula (ex. A001)" required pattern = "[a-zA-Z][0-9]+" minlength = "4" maxlength = "4">
            <select name = "lessonType">
                <option>-- Seleziona una tipologia --</option>
                {% for lesson in lessonTypes %}
                    <option value = "{{lesson}}">{{ lesson }}</option>
                {% endfor %}
            </select>
            <select name = "course">
                <option>-- Seleziona un corso --</option>
                {% for course in courses %}
                    <option value = "{{course['nomeCorso']}} - {{course['annoCorso']}}">{{course['nomeCorso']}} - {{course['annoCorso']}}</option>
                {% endfor %}
            </select>
            
            <button type = "submit">Crea lezione</button>
        </form>
    {% endif %}

    <form action = "{{url_for('update_user_data')}}" method = "post">
        
    </form>

    {% if session['githubConnected'] %}
        <a href = "{{url_for('unlinkGithubAccount')}}">Disconnetti Account Github</a><br>
    {% else %}
        <a href = "{{url_for('githubAuth', login = False)}}">Collega Account Github</a><br>
    {% endif %}

    <a href = "{{ url_for('logout') }}">Logout</a>
{% endblock %}