{% extends "formTemplate.html" %}

{% block title %}
Modifica utente
{% endblock %}

{% block formAction %} {{url_for('update_user_data')}} {% endblock %}
{% block formImageSource %} {{url_for('static', filename = 'assets/user.svg')}} {% endblock %}
{% block formTitle %} Modifica dati utente {% endblock %}
{% block formSubtitle %} Inserisci i dati che desideri modificare nei campi sottostanti {% endblock %}
{% block inputFields %}
    {% if userData is defined %}
        <input class = "formInputBox" type = "name" name = "fname" value = "{{userData['Nome']}}" placeholder = "Nome" required maxlength = '20' autofocus>
        <input class = "formInputBox" type = "text" name = "lname" value = "{{userData['Cognome']}}" placeholder = "Cognome" required maxlength = "20">
        <input class = "formInputBox" type = "email" name = "email" value = "{{userData['Email']}}" placeholder = "Email" required maxlength = "40">
        <input class = "formInputBox" type = "password" name = "password" placeholder = "Password" minlength = "10">
        <input class = "formInputBox" type = "password" name = "password_verify" placeholder = "Verifica password" minlength = "10">
        <select class = "formInputBox" name = "role">
            <option value = "{{userData['Tipologia']}}">{{userData['Tipologia']}}</option>
            {% for role in roles %}
                {% if role != userData['Tipologia'] %}
                    <option value = "{{role}}">{{role}}</option>
                {% endif %}
            {% endfor %}
        </select>
        {% for course in courses %}
            <label>
                {% if course in userData['nomeCorso'] %}
                    <input type = "checkbox" name = "course" value = "{{course}}" checked>
                {% else %}
                    <input type = "checkbox" name = "course" value = "{{course}}">
                {% endif %}
                {{course}}
            </label>
        {% endfor %}
    {% else %}
        <input class = "formInputBox" type = "email" name = "email" placeholder = "Email" autofocus>
        <input class = "formInputBox" type = "password" name = "newPassword" minlength = "10" placeholder = "Nuova password">
        <input class = "formInputBox" type = "password" name = "passwordVerify" placeholder = "Reinserisci password">
    {% endif %}
{% endblock %}

{% block buttonName %}uid{% endblock %}
{% block buttonValue %}{{userData['userID'] if userData is defined}}{% endblock %}
{% block submit %} Modifica {% endblock %}