{% extends "index.html" %}

{% block title %}
Modifica utente
{% endblock %}

{% block content %}
    <form action = "{{url_for('update_user_data')}}" method = "post">
        <label for = "fname">Nome</label>
        <input type = "text" name = "fname" value = "{{userData['Nome']}}" required maxlength = "20">
        
        <label for = "lname">Cognome</label>
        <input type = "text" name = "lname" value = "{{userData['Cognome']}}" required maxlength = "20">
        
        <label for = "email">Email</label>
        <input type = "email" name = "email" value = "{{userData['Email']}}" required maxlength = "40">
        
        <label for = "password">Password</label>
        <input type = "password" name = "password" minlength = "10">
        <label for = "password_verify">Verifica Password</label>
        <input type = "password" name = "password_verify">

        <label for = "role">Ruolo</label>
        <select name = "role">
            <option value = "{{userData['Tipologia']}}">{{userData['Tipologia']}}</option>
            {% for role in roles %}
                {% if role != userData['Tipologia'] %}
                    <option value = "{{role}}">{{role}}</option>
                {% endif %}
            {% endfor %}
        </select><br>
        {% for course in courses %}
            {% if course['nomeCorso'] in userData["nomeCorso"] %}
                <input type = "checkbox" name = "course" value = "{{course['nomeCorso']}} - {{course['annoCorso']}}" checked>
            {% else %}
                <input type = "checkbox" name = "course" value = "{{course['nomeCorso']}} - {{course['annoCorso']}}">
            {% endif %}
            <label for = "course">{{course['nomeCorso']}} - {{course['annoCorso']}}</label><br>
        {% endfor %}

        <input type = "number" name = "uid" value = "{{userData['userID']}}" readonly hidden>

        <button type = "submit">Modifica</button>
    </form>
    <a href = "{{url_for('usersList')}}">Torna indietro</a>
{% endblock %}