{% extends "formTemplate.html" %}

{% block title %}
Modifica utente
{% endblock %}

{% if uid is defined %}
    {% block bodyProperties %}onload = "adminRoleChosen()"{% endblock %}
{% endif %}
{% block formAction %} {{url_for('select_user')}} {% endblock %}
{% block formImageSource %} {{url_for('static', filename = 'assets/user.svg')}} {% endblock %}
{% block altDescription %} Icona utente {% endblock %}
{% block formTitle %} Modifica dati utente {% endblock %}
{% block formSubtitle %} Inserisci i dati che desideri modificare nei campi sottostanti {% endblock %}
{% block inputFields %}
    {% if uid is defined %}
        {{ form.fname }}
        {{ form.lname }}
        {{ form.email }}
        {{ form.password }}
        {{ form.password_verify }}
        {{ form.role }}
        <label class = "mb-5" id = "adminVerification" style = "display: none">
            {{ form.adminVerification }}
            {{ form.adminVerification.label }}
        </label>
        <p>Seleziona almeno un corso tra i seguenti</p>
        {% for course in courses %}
            <label class = "formInputBox">
                <input type = "checkbox" name = "course" value = "{{course}}" {% if course in enrolledCourses %}checked{% endif %}>
                {{course}}
            </label>
        {% endfor %}

        <input type = "hidden" name = "action" value = "Edit">
        <input type = "hidden" name = "userID" value = "{{uid}}">
    {% else %}
        {{ form.email }}
        {{ form.password }}
        {{ form.password_verify }}
    {% endif %}
{% endblock %}

{% if uid is defined %}
    {% block script %}
        <script src = "{{url_for('static', filename = 'script/formsManagement.js')}}"></script>
    {% endblock %}
{% endif %}