{% extends "index.html" %}

{% block title %}
Lista utenti
{% endblock %}

{% block content %}
    <h1>Clicca sul bottone per modificare i dati dell'utente</h1>
    {% for user in users %}
        <p>{{user['Nome']}} {{user['Cognome']}}, {{user['Tipologia']}} ({{user['nomeCorso']}})</p>
        <form action = "{{url_for('select_user')}}" method = "post">
            <input type = "text" name = "userID" readonly hidden value = "{{user['userID']}}">
            <button type = "submit" name = "submitButton" value = "Edit">Modifica</button>
            <button type = "submit" name = "submitButton" value = "Remove">Elimina Utente</button>
        </form>
        <br><br>
    {% endfor %}
    <a href = "{{url_for('userScreening')}}">Torna indietro</a>
{% endblock %}