{% extends "index.html" %}

{% block title %}
Lista utenti
{% endblock %}

{% block content %}
    <h1>Clicca sul bottone per modificare i dati dell'utente</h1>
    {% for user in users %}
        <p>{{user[1]}} {{user[2]}}, {{user[3]}} ({{user[4]}})</p>
        <form action = "{{url_for('select_user')}}" method = "post">
            <input type = "text" name = "userID" readonly hidden value = "{{user[0]}}">
            <button type = "submit">Modifica</button>
        </form>
        <br><br>
    {% endfor %}
    <a href = "{{url_for('userScreening')}}">Torna indietro</a>
{% endblock %}